{% extends 'base.html' %}
{% block titulo %}Analizador de código{% endblock %}
{% block encabezado %}Crear tarea{% endblock %}
{% block contenido %}
{% if message %}
<strong>{{ message }}</strong>
{% endif %}

<form method="POST" action="">
  {% csrf_token %}
  <div class="mb-3 mt-3">
    {{ form.as_p }}
  </div>
  <input type="file" name="script_comprobacion">
  <input type="file" name="script_icializacion">
  <input type="file" name="script_parametros">
  <div class="mb-3 mt-3">
    <input type="submit" value="Ingresar"/>
  </div>
  
</form>



{% endblock %}