{% extends 'base.html' %}
{% block titulo %}Analizador de código{% endblock %}
{% block encabezado %}Crear tarea{% endblock %}
{% block contenido1 %}
<div>
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Regresar</a></li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}
{% block contenido %}
{% if message %}
<strong>{{ message }}</strong>
{% endif %}

<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3 mt-3">
    {{ form.as_p }}
  </div>
  <label for="mensaje" class="form-label">Script de comprobación: </label>
  <input type="file" name="script_comprobacion" required>
  <label for="mensaje" class="form-label">Script de inicialización: </label>
  <input type="file" name="script_inicializacion" required>
  <label for="mensaje" class="form-label">Script de Script de parametros: </label>
  <input type="file" name="script_parametros" required>
  <div class="mb-3 mt-3">
    <input type="submit" value="Ingresar"/>
  </div>
  
</form>



{% endblock %}