
{% extends 'base.html' %}
{% block titulo %}Analizador de código{% endblock %}
{% block encabezado %}Inicio de sesión{% endblock %}
{% block contenido1 %}
<div>
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/grupo">Crear Grupo</a></li>
          <li><a href="/registro">Registrarse</a></li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}
{% block contenido %}
{% if message %}
<strong>{{ message }}</strong>
{% endif %}

<form method="POST" action="">
  {% csrf_token %}
  <div class="mb-3 mt-3">
    {{ form.as_p }}
  </div>
  <div class="mb-3 mt-3">
    <input type="submit" value="Ingresar"/>
  </div>
  
</form>



{% endblock %}
