{% extends 'base.html' %}
{% block titulo %}Analizador de código{% endblock %}
{% block encabezado %}Revisar tarea{% endblock %}
{% block contenido1 %}
<div>
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Regresar</a></li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}
{% block contenido %}
<style>
        table {
            width: 100%;
            text-align: center;
            margin-top: 25px;
            padding: 25px;
            background-color: #FFFFFF;
        }

        table tr td {
            padding-top: 15px;
        }
</style>
<div class="container-fluid">
    <figure> 
    <figcaption></figcaption> 
    <table aria-describedby="mydesc">
    <caption>
    <tr>
        <th>NOMBRE</th>
        <th>ID TAREA</th>
        <th>CALIFICACIÓN</th>
        <th>HORA DE ENTREGA</th>
    </tr>
    {% for tarea in tareas  %}
        <tr>
            <td>{{ tarea.usuario_id }} {{alumno.apellidos}}</td>
            <td>{{ tarea.nombre }}</td>
            <td>{{ tarea.calificacion }}</td>
            <td>{{ tarea.dateTimeOfUpload }}</td>
        </tr>
    {% endfor %}
    </caption>
    </table>
    </figure>
</div>
{% endblock %}