{% extends 'base.html' %}
{% block titulo %}Analizador de código{% endblock %}
{% block encabezado %}Lista de tareas{% endblock %}
{% block contenido1 %}
<div>
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Regresar</a></li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}
{% block contenido %}
{% if message %}
<strong>Lista de tareas</strong>
{% endif %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    * {
        font-family: "Roboto";
    }

    body {
        background-color: #F5F5F5;
    }

    form {
        background-color: #FFFFFF;
        padding: 25px;
    }

    table {
        width: 100%;
        text-align: center;
        margin-top: 25px;
        padding: 25px;
        background-color: #FFFFFF;
    }

    table tr td {
        padding-top: 15px;
    }
</style>




    <table>
        <tr>
            <th>Nombre del ejercicio</th>
            <th>Descripcion</th>
            <th>Maestro</th>
            <th>Entregar tarea</th>
        </tr>
        {% for file in files %}
            <tr>
                
                <td>{{ file.nombre }}</td>
                <td>{{ file.descripcion }}</td>
                <td>{{ file.maestro }}</td>
                <td>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                      {{ form.as_p }}
                    <input type="file" name="uploadedFile" required >
                    <input name="nombreTarea" type="hidden" value= "{{ file.id }}" > 
                      <input type="submit" value="Ingresar"/>
                    </form>
                  
                  </td>
            </tr>
        {% endfor %}
    
    </table>
{% endblock %}



